{% extends 'base.html' %}

{% block content %}
<table>
  <tr>
    <td>
      <div>
        <a href="{% url 'add_truck' %}">Добавить грузовик</a>
        <a href="{% url 'add_models_truck' %}">Добавить модель грузовика</a>
      </div>
    </td>
  </tr>
</table>
  <form method="get">
    <label for="model">Выберите модель:</label>
    <select id="model" name="model">
      <option value=""{% if not request.GET.model %} selected{% endif %}>Все</option>
      {% for model in models %}
        <option value="{{ model.id }}"{% if request.GET.model == model.id|stringformat:'s' %} selected{% endif %}>{{ model.name }}</option>
      {% endfor %}
    </select>
    <button type="submit">Применить</button>
  </form>
  <table>
    <thead>
      <tr>
        <th>Бортовой номер</th>
        <th>Модель</th>
        <th>Макс. грузоподъемность</th>
        <th>Текущий вес</th>
        <th>Перегруз %</th>
      </tr>
    </thead>
    <tbody>
      {% for truck in trucks %}
        <tr>
          <td>{{ truck.reg_number }}</td>
          <td>{{ truck.type_truck.name }}</td>
          <td>{{ truck.type_truck.max_load_capacity }} т</td>
          <td>{{ truck.current_load }} т</td>
          <td>{% if truck.check_current_load %}
            {{truck.check_current_load | floatformat:0}}%{% else %}-{% endif %}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Нет данных</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}